<?xml version="1.0" encoding="utf-8"?>
<DataType Key="526cc705-7643-4324-b7d4-26ccccdc3d7b" Alias="ContactInfoSettings - BgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>ContactInfoSettings - BgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": ""
    },
    {
      "value": "F7f7f7",
      "label": ""
    }
  ]
}]]></Config>
</DataType>