<?xml version="1.0" encoding="utf-8"?>
<DataType Key="692d1ab2-3e21-4453-ba21-37c22020d50c" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0a907228-2a16-49af-b432-4ff93e5e4451"
    },
    {
      "contentElementTypeKey": "2e5e0698-c26f-41e7-9049-044ea58fc088",
      "settingsElementTypeKey": "8466fd9f-e9d4-477a-8912-ab018e3054d5"
    }
  ]
}]]></Config>
</DataType>