<?xml version="1.0" encoding="utf-8"?>
<DataType Key="692d1ab2-3e21-4453-ba21-37c22020d50c" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0a907228-2a16-49af-b432-4ff93e5e4451"
    },
    {
      "contentElementTypeKey": "2e5e0698-c26f-41e7-9049-044ea58fc088",
      "settingsElementTypeKey": "8466fd9f-e9d4-477a-8912-ab018e3054d5"
    },
    {
      "contentElementTypeKey": "84917ad8-e96b-469d-8a74-b43724a2fa33"
    },
    {
      "contentElementTypeKey": "7ad099f1-7ce9-4dbe-b570-900e6918ef6a"
    },
    {
      "contentElementTypeKey": "842d6f76-05a6-4a7c-88a4-10b33d24c677"
    },
    {
      "contentElementTypeKey": "c4713846-6efa-4d1b-89dc-3ea3a26b9d37"
    },
    {
      "contentElementTypeKey": "942217bf-5b3a-415f-ad4a-9782a5de850e"
    },
    {
      "contentElementTypeKey": "28ef0260-e927-4eb1-81af-0d9b7efc05aa"
    },
    {
      "contentElementTypeKey": "dc60fb53-a0cb-4af8-a13a-4ee57c5e4c80",
      "settingsElementTypeKey": "8acd5cc5-b072-4951-980a-86f7f43a2284"
    },
    {
      "contentElementTypeKey": "996cb40a-01df-4995-bc3b-021e301bbebf"
    },
    {
      "contentElementTypeKey": "8b59aecd-9fb3-4d24-b580-273dabd90ff2"
    }
  ]
}]]></Config>
</DataType>