<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2ef79d7-9b47-4183-989c-1b8cb5f735ff" Alias="PartnerList" Level="1">
  <Info>
    <Name>PartnerList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>