<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7cdc8e8-3ab8-4529-a923-ea2f3acb1dc7" Alias="Service Settings - Service Bg Color - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Service Bg Color - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": "White"
    },
    {
      "value": "F7F7F7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>