<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dcce1462-1fa1-4007-832a-f54c6c46a7ab" Alias="Service Detail - Service Detail Excerpt - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Excerpt - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>