<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c084a7b-4bee-41d3-93ac-c2cad5cbed1c" Alias="Service Settings - show Service Label - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - show Service Label - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>