<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50d3abe3-aabb-4fd1-a7f2-ea5bf2cee007" Alias="Service Detail - Service Detail Aditional Sections - Block List" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Aditional Sections - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dc60fb53-a0cb-4af8-a13a-4ee57c5e4c80",
      "settingsElementTypeKey": "8acd5cc5-b072-4951-980a-86f7f43a2284"
    }
  ]
}]]></Config>
</DataType>