<?xml version="1.0" encoding="utf-8"?>
<DataType Key="467daa4a-609b-483b-bfe0-ecc240664593" Alias="Service Detail Asides" Level="1">
  <Info>
    <Name>Service Detail Asides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e6db26ac-b714-4414-a951-1e353eae8522"
    }
  ]
}]]></Config>
</DataType>