<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a21cc125-9be8-47ff-864c-908942f6da9d" Alias="Service List" Level="1">
  <Info>
    <Name>Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b6b4e513-95f8-4202-a143-5ebb2d725377",
      "label": "{umbValue: serviceTitle}"
    }
  ]
}]]></Config>
</DataType>