<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdee628b-8612-4e9a-b2fe-86f84700d41b" Alias="Site Settings - Social Media Platform List" Level="1">
  <Info>
    <Name>Site Settings - Social Media Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7e434c5-0496-4115-b0ff-192b9c7024d9",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>