<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92ffc9ee-d1c4-44a3-9a6f-5222d2b899f8" Alias="SuccessStorySection - Statistics List" Level="1">
  <Info>
    <Name>SuccessStorySection - Statistics List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "aeb41ef5-85a9-486f-95fd-1d7e85bd64d9"
    }
  ]
}]]></Config>
</DataType>