<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0825cdad-03e2-4d65-b10b-3b6829c92da5" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "05ed4136-8b56-4295-a9a4-ec9c40860278",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>