<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab5bdbea-dc39-40c4-bb01-027e35c1278a" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="919486e8-7001-45ad-97a3-f72cc163e8d0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6d9147d7-5db2-451e-b659-37490af41f26" SortOrder="0">contactPage</ContentType>
    <ContentType Key="ca90c822-7ffc-4fcd-8b6e-ef1dcc67973d" SortOrder="1">servicePage</ContentType>
    <ContentType Key="d67c3682-74eb-4491-a37c-667e0500afc1" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88177deb-12a7-483e-89b0-dd6d0638add6</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>692d1ab2-3e21-4453-ba21-37c22020d50c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08f87643-2842-4988-9d19-9241294e2714</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>