<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c4eb331-6962-40ae-bf40-03eaff32b004" Alias="serviceDetailsPage" Level="2">
  <Info>
    <Name>ServiceDetailsPage</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServiceDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c38c9489-7702-400e-a0bf-9566fe7fdeef">ServiceDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>