<?xml version="1.0" encoding="utf-8"?>
<Media Key="11622642-7554-49be-9ba7-4bef24b214d2" Alias="about-team-kevin.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamKevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-kevin.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcnnb20p/about-team-kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>