<?xml version="1.0" encoding="utf-8"?>
<Media Key="78693ffa-1566-4657-b227-c09136d9337e" Alias="about-portrait-reviews.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutPortraitReviewssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T15:16:11</CreateDate>
    <NodeName Default="about-portrait-reviews.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcbmxgt3/about-portrait-reviews.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>