<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1d36326-024d-47a6-9439-57dd13fd4d3b" Alias="about-team-aaron.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamAaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-aaron.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0tphcu0w/about-team-aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>