<?xml version="1.0" encoding="utf-8"?>
<Media Key="49875f27-e52b-4d59-b73f-611175ac60f3" Alias="about-team-brandon-kerr.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamBrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-brandon-kerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xrclkzq/about-team-brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>