<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ebe1f8-94f9-4e43-93eb-48dd774848a2" Alias="about-team-brandon-newton.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamBrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-brandon-newton.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bjoescxc/about-team-brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>