<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b15f3ea-f0b3-4294-8058-44a353ec1f42" Alias="about-team-miranda.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamMirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-miranda.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dbhlpkni/about-team-miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>