<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7110591-f9f2-46d2-b934-fba54c263ba2" Alias="about-team-aj.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamAjsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-aj.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mo2lgrpj/about-team-aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>