<?xml version="1.0" encoding="utf-8"?>
<Media Key="14821175-86af-4ee7-b188-5059a0ba0824" Alias="about-team-tina.svg" Level="2">
  <Info>
    <Parent Key="bca6a329-afa3-464a-9baa-9162759828f3">Team Members</Parent>
    <Path>/TeamMembers/aboutTeamTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T10:15:03</CreateDate>
    <NodeName Default="about-team-tina.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4wcb3vu/about-team-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>