<?xml version="1.0" encoding="utf-8"?>
<Media Key="30705a7f-a942-46b3-9784-66abe38397d0" Alias="about-portrait-tina.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutPortraitTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T14:19:54</CreateDate>
    <NodeName Default="about-portrait-tina.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rxtnfusz/about-portrait-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>