<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9ff3529-13f6-4cda-88c8-52e1494613e2" Alias="CEOSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T14:24:22</CreateDate>
    <NodeName Default="CEOSignature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1oef0o5n/ceosignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>