<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ebe0807-6ea3-4916-8f9f-f13706634e0a" Alias="contact-info-card-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactInfoCardImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T15:18:52</CreateDate>
    <NodeName Default="contact-info-card-img.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4w0bzxfy/contact-info-card-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>