<?xml version="1.0" encoding="utf-8"?>
<Media Key="02c02611-ed52-47d8-8339-d0c0ecf3a1e4" Alias="contact-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:02:42</CreateDate>
    <NodeName Default="contact-map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2onhfycj/contact-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>