<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e1790a0-7558-41a0-add8-0cf952072217" Alias="hero-bg-front.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgFrontpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T22:07:16</CreateDate>
    <NodeName Default="hero-bg-front.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f3nfckbr/hero-bg-front.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>