<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a74e5cf-708c-439f-a075-da313746ee2c" Alias="partners-simpleaf.svg" Level="2">
  <Info>
    <Parent Key="c35d931e-b268-4679-bfd5-24ca96a4b4ac">PartnerLogos</Parent>
    <Path>/PartnerLogos/partnersSimpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T20:37:22</CreateDate>
    <NodeName Default="partners-simpleaf.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvmnngex/partners-simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>