<?xml version="1.0" encoding="utf-8"?>
<Media Key="c35d931e-b268-4679-bfd5-24ca96a4b4ac" Alias="PartnerLogos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-25T20:37:01</CreateDate>
    <NodeName Default="PartnerLogos" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>