<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ba7ef00-f9b9-46dc-b790-abbe0ff8edd3" Alias="partners-freedombird.svg" Level="2">
  <Info>
    <Parent Key="c35d931e-b268-4679-bfd5-24ca96a4b4ac">PartnerLogos</Parent>
    <Path>/PartnerLogos/partnersFreedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T20:37:22</CreateDate>
    <NodeName Default="partners-freedombird.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4jjalknc/partners-freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>