<?xml version="1.0" encoding="utf-8"?>
<Media Key="234e77d3-e9ab-4e5b-8475-420b065b4ef6" Alias="partners-natural.svg" Level="2">
  <Info>
    <Parent Key="c35d931e-b268-4679-bfd5-24ca96a4b4ac">PartnerLogos</Parent>
    <Path>/PartnerLogos/partnersNaturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T20:37:22</CreateDate>
    <NodeName Default="partners-natural.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ehfozqnq/partners-natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>