<?xml version="1.0" encoding="utf-8"?>
<Media Key="4726ec68-b0a6-42a5-a00e-3a8e0996f780" Alias="partners-identity.svg" Level="2">
  <Info>
    <Parent Key="c35d931e-b268-4679-bfd5-24ca96a4b4ac">PartnerLogos</Parent>
    <Path>/PartnerLogos/partnersIdentitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T20:37:21</CreateDate>
    <NodeName Default="partners-identity.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tjijjjn3/partners-identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>