<?xml version="1.0" encoding="utf-8"?>
<Media Key="580eb33f-3612-493f-a1af-0d9f811b6f4a" Alias="services-risk-management.svg" Level="2">
  <Info>
    <Parent Key="dc966a6b-fa39-413a-b8db-f7517a21c046">Services</Parent>
    <Path>/Services/servicesRiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T12:29:54</CreateDate>
    <NodeName Default="services-risk-management.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuhkzoqj/services-risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>