<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc966a6b-fa39-413a-b8db-f7517a21c046" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T12:29:35</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>