<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b3c3a23-450e-410c-9c48-6bd7bd1efb03" Alias="services-bonds-commodities.svg" Level="2">
  <Info>
    <Parent Key="dc966a6b-fa39-413a-b8db-f7517a21c046">Services</Parent>
    <Path>/Services/servicesBondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T12:29:54</CreateDate>
    <NodeName Default="services-bonds-commodities.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0gdj3civ/services-bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>