<?xml version="1.0" encoding="utf-8"?>
<Media Key="4de133b2-a736-47cd-9a48-4a5d19924e0a" Alias="services-assurance-audits.svg" Level="2">
  <Info>
    <Parent Key="dc966a6b-fa39-413a-b8db-f7517a21c046">Services</Parent>
    <Path>/Services/servicesAssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T12:29:54</CreateDate>
    <NodeName Default="services-assurance-audits.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ichehlzn/services-assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>