<?xml version="1.0" encoding="utf-8"?>
<Media Key="b49d8557-d6a8-41a4-96dc-012c7f8a00e4" Alias="services-tax-trusts.svg" Level="2">
  <Info>
    <Parent Key="dc966a6b-fa39-413a-b8db-f7517a21c046">Services</Parent>
    <Path>/Services/servicesTaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T12:29:54</CreateDate>
    <NodeName Default="services-tax-trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uu2d4vvt/services-tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>