<?xml version="1.0" encoding="utf-8"?>
<Media Key="07785eab-d9aa-4d5f-bf8c-4ea95cf89c5e" Alias="service-detail-body-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceDetailBodyImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:02:11</CreateDate>
    <NodeName Default="service-detail-body-image.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lhrnvznr/service-detail-body-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>