<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ecbccf4-9453-4f13-aa9b-bbc4e83c43a7" Alias="services-static-advisors.svg" Level="2">
  <Info>
    <Parent Key="dc966a6b-fa39-413a-b8db-f7517a21c046">Services</Parent>
    <Path>/Services/servicesStaticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T12:29:54</CreateDate>
    <NodeName Default="services-static-advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/azyhtxci/services-static-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>