<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0e37b44-f9d0-46af-a2de-56b6f987de6a" Alias="success-map.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successMapsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T22:08:17</CreateDate>
    <NodeName Default="success-map.svg (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1decawl/success-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>