<?xml version="1.0" encoding="utf-8"?>
<Media Key="70a03b58-aadc-440e-9231-23e45338d1ac" Alias="success-people.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T21:05:08</CreateDate>
    <NodeName Default="success-people.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkdafewh/success-people.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>