<?xml version="1.0" encoding="utf-8"?>
<Media Key="46369961-5649-4f19-83ca-0f26ca90672b" Alias="success-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T21:05:08</CreateDate>
    <NodeName Default="success-map.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smsjjjcs/success-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>