<?xml version="1.0" encoding="utf-8"?>
<Media Key="db41b507-088c-467b-add2-80029b29edac" Alias="why-choose-us-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/whyChooseUsMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:24:55</CreateDate>
    <NodeName Default="why-choose-us-map.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ueogomx/why-choose-us-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>