<?xml version="1.0" encoding="utf-8"?>
<Content Key="6631ad2d-1e58-4512-8911-ce22ab2dad27" Alias="2025-11-11 14:47 - Bosse Laban" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/BosseLaban</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T14:47:38</CreateDate>
    <NodeName Default="2025-11-11 14:47 - Bosse Laban" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[surbiff@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Bosse Laban]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0786256774]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestSelectedOption>
  </Properties>
</Content>