<?xml version="1.0" encoding="utf-8"?>
<Content Key="b61bf347-57d5-411e-8f32-c16d80177dc2" Alias="2025-11-08 12:00 - Kalle Persson" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/KallePersson</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-08T12:00:41</CreateDate>
    <NodeName Default="2025-11-08 12:00 - Kalle Persson" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[kalle@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Kalle Persson]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[dfsdfsdfsdf]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>