<?xml version="1.0" encoding="utf-8"?>
<Content Key="b77ed41c-7718-449c-a8af-e47856ceb95b" Alias="2025-11-08 12:02 - Super User" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/SuperUser</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T12:02:35</CreateDate>
    <NodeName Default="2025-11-08 12:02 - Super User" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[admin@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Super User]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0702123456]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedOption>
      <Value><![CDATA[Tax Planing]]></Value>
    </callbackRequestSelectedOption>
  </Properties>
</Content>