<?xml version="1.0" encoding="utf-8"?>
<Content Key="147ce301-d3a7-4e66-b743-fa46e3c9d34d" Alias="2025-11-08 11:52 - Stefan" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/Stefan</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-08T11:52:27</CreateDate>
    <NodeName Default="2025-11-08 11:52 - Stefan" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[stefan@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Stefan]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[vad är en fråga]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>