<?xml version="1.0" encoding="utf-8"?>
<Content Key="f20f04f4-3f9a-41fb-aeb4-aaed4e2a5e8c" Alias="2025-11-08 11:59 - Stefan" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/Stefan</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-08T11:59:11</CreateDate>
    <NodeName Default="2025-11-08 11:59 - Stefan" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[stefan@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Stefan]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[dfsdfsdf]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>