<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6a0a08c-1a1b-48e9-9af3-6eadd66592d1" Alias="2025-11-08 10:15 - Peter" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/Peter</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-08T10:15:25</CreateDate>
    <NodeName Default="2025-11-08 10:15 - Peter" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[peter@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Peter]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Jag har en jättebra fråga...!?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>