<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f769402-196b-453d-ac2d-343b4bb5f15d" Alias="2025-11-08 11:59 - Kalle Persson (1)" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/KallePersson1</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T11:59:39</CreateDate>
    <NodeName Default="2025-11-08 11:59 - Kalle Persson (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[kalle@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Kalle Persson]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0704785337]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestSelectedOption>
  </Properties>
</Content>