<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2b4e50d-01a4-4789-aabc-1b5de31215fd" Alias="2025-11-05 13:00 - Alex Dunder" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/AlexDunder</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T13:00:12</CreateDate>
    <NodeName Default="2025-11-05 13:00 - Alex Dunder" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[r.dunder@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Alex Dunder]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0735985445]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestSelectedOption>
  </Properties>
</Content>