<?xml version="1.0" encoding="utf-8"?>
<Content Key="c55b5fc4-8faf-474c-9123-632658c5f3bc" Alias="2025-11-11 15:13 - Kalle Persson" Level="2">
  <Info>
    <Parent Key="587f68f5-fa4b-401b-b200-ea05817a7d81">Form Submissions</Parent>
    <Path>/FormSubmissions/KallePersson</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-11T15:13:13</CreateDate>
    <NodeName Default="2025-11-11 15:13 - Kalle Persson" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[kalle@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Kalle Persson]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[i have a question...]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>