<?xml version="1.0" encoding="utf-8"?>
<Content Key="0267c7d3-a566-4abb-b6bf-1cf488b284a0" Alias="About" Level="2">
  <Info>
    <Parent Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9">HomePage</Parent>
    <Path>/HomePage/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-22T09:11:29</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97f0d691-ddd6-42e5-afef-c5c5608e4b87">AboutPage</Template>
  </Info>
  <Properties />
</Content>