<?xml version="1.0" encoding="utf-8"?>
<Content Key="355d27c4-c0ba-43e7-b681-d5c2def6103e" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="d2cdc6af-671d-46c9-b01f-088ee7755c86">Service</Parent>
    <Path>/Home/Service/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:01:07</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4ea5567-737a-49a2-8b01-c3c16ea79d92">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e6db26ac-b714-4414-a951-1e353eae8522",
      "key": "8fc0bf90-7d07-4a73-b70b-27d2f3901a09",
      "udi": null,
      "values": [
        {
          "alias": "infoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "65af4269-8cdf-4105-b099-7887d2899b97",
              "mediaKey": "3ecbccf4-9453-4f13-aa9b-bbc4e83c43a7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8fc0bf90-7d07-4a73-b70b-27d2f3901a09",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8fc0bf90-7d07-4a73-b70b-27d2f3901a09",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2128bedb-afc2-4735-8791-fa80147c2c92",
    "mediaKey": "4de133b2-a736-47cd-9a48-4a5d19924e0a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>