<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6a9b530-ce21-4cb9-af3f-e11cf1c5f8b9" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T09:10:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f8d1bf1e-465b-49ed-9adf-d691b233a92f">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dc60fb53-a0cb-4af8-a13a-4ee57c5e4c80",
      "key": "c9e206d6-d33c-4dd1-ba05-01437b61c504",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "062e2e91-2e3e-4c36-a4d8-f148ad183036",
              "mediaKey": "3ebe0807-6ea3-4916-8f9f-f13706634e0a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "842d6f76-05a6-4a7c-88a4-10b33d24c677",
      "key": "6b3b91ab-f287-4d77-8135-4ec1168671e9",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "ccaf10c4-2be6-47bb-bfdd-e3808a1fd270",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "85a181db-e08f-49bf-83d7-83c534aefcf1",
                        "mediaKey": "4ba7ef00-f9b9-46dc-b790-abbe0ff8edd3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "1e0fd354-222c-48b8-96da-72439fbcd961",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "98f855db-0780-4bb1-a13f-91feac9d775a",
                        "mediaKey": "4726ec68-b0a6-42a5-a00e-3a8e0996f780",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "31868c1c-df3a-412c-89b2-405d417d39fc",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5e55de61-5db4-46f5-80fa-45a8f30e0d7f",
                        "mediaKey": "234e77d3-e9ab-4e5b-8475-420b065b4ef6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "87e81f9e-b958-4612-b346-58feebfd8f3d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d0d0fb16-f925-42f2-8584-5ceebb54708a",
                        "mediaKey": "7a74e5cf-708c-439f-a075-da313746ee2c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "95d02013-f0ff-40ab-9716-efce49ac3422",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fb34b3a9-47d4-4d4e-aeb7-0c57a221b978",
                        "mediaKey": "b5d5e9d8-1e12-4203-b266-58d4e1c9cf8c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "85176d3d-4ce6-4e57-9efa-0136dba94d9f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ebf09edd-6c62-449f-b4be-78c3a1a52620",
                        "mediaKey": "b37c8b93-38e0-43b3-9d47-7cfa2ffa53ed",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ccaf10c4-2be6-47bb-bfdd-e3808a1fd270",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1e0fd354-222c-48b8-96da-72439fbcd961",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "31868c1c-df3a-412c-89b2-405d417d39fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "87e81f9e-b958-4612-b346-58feebfd8f3d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "95d02013-f0ff-40ab-9716-efce49ac3422",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "85176d3d-4ce6-4e57-9efa-0136dba94d9f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ccaf10c4-2be6-47bb-bfdd-e3808a1fd270",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1e0fd354-222c-48b8-96da-72439fbcd961",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "31868c1c-df3a-412c-89b2-405d417d39fc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "87e81f9e-b958-4612-b346-58feebfd8f3d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "95d02013-f0ff-40ab-9716-efce49ac3422",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "85176d3d-4ce6-4e57-9efa-0136dba94d9f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "8b59aecd-9fb3-4d24-b580-273dabd90ff2",
      "key": "8b2a16dc-d9dc-4924-a737-ac8c8a69590c",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactSectionText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fb401c08-4627-4b8e-aa66-d6684a0ee410",
              "mediaKey": "02c02611-ed52-47d8-8339-d0c0ecf3a1e4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8acd5cc5-b072-4951-980a-86f7f43a2284",
      "key": "4f494860-ddbf-456f-aae7-e0c5ddb21464",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c9e206d6-d33c-4dd1-ba05-01437b61c504",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6b3b91ab-f287-4d77-8135-4ec1168671e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8b2a16dc-d9dc-4924-a737-ac8c8a69590c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c9e206d6-d33c-4dd1-ba05-01437b61c504",
        "contentUdi": null,
        "settingsKey": "4f494860-ddbf-456f-aae7-e0c5ddb21464",
        "settingsUdi": null
      },
      {
        "contentKey": "8b2a16dc-d9dc-4924-a737-ac8c8a69590c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6b3b91ab-f287-4d77-8135-4ec1168671e9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>