<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6a9b530-ce21-4cb9-af3f-e11cf1c5f8b9" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T09:10:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f8d1bf1e-465b-49ed-9adf-d691b233a92f">ContactPage</Template>
  </Info>
  <Properties />
</Content>