<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbce58d8-d2e1-4c9d-a8d5-665de640c7f6" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="d2cdc6af-671d-46c9-b01f-088ee7755c86">Service</Parent>
    <Path>/Home/Service/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:00:06</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4ea5567-737a-49a2-8b01-c3c16ea79d92">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e6db26ac-b714-4414-a951-1e353eae8522",
      "key": "0d21de4b-c29f-413c-bde6-cf73cef7b6bf",
      "udi": null,
      "values": [
        {
          "alias": "infoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ef8f2a3f-d267-41e5-8b2c-db1abd5dc8ce",
              "mediaKey": "3ecbccf4-9453-4f13-aa9b-bbc4e83c43a7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0d21de4b-c29f-413c-bde6-cf73cef7b6bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0d21de4b-c29f-413c-bde6-cf73cef7b6bf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "20aeeb28-bda9-4de6-8b9e-436b701308b1",
    "mediaKey": "1c6d8e88-c249-49df-bb55-4c91d2af8a1b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>