<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-21T22:09:17</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="919486e8-7001-45ad-97a3-f72cc163e8d0">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0a907228-2a16-49af-b432-4ff93e5e4451",
      "key": "95e4ab1b-e296-4870-a900-d74498748538",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/c6a9b530ce214cb9af3fe11cf1c5f8b9",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38a48993-3408-470d-bca1-d07278c35c08",
              "mediaKey": "9e1790a0-7558-41a0-add8-0cf952072217",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2e5e0698-c26f-41e7-9049-044ea58fc088",
      "key": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
      "udi": null,
      "values": [
        {
          "alias": "servicesLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "servicesTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        }
      ]
    },
    {
      "contentTypeKey": "84917ad8-e96b-469d-8a74-b43724a2fa33",
      "key": "3b9c3ca0-1832-490a-b560-b8a9c47d5edc",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cblockquote\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/p\u003E\u003C/blockquote\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "aboutCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, nesciunt aspernatur."
        }
      ]
    },
    {
      "contentTypeKey": "942217bf-5b3a-415f-ad4a-9782a5de850e",
      "key": "5a72fffc-bb1f-4252-abec-26dd8eba7281",
      "udi": null,
      "values": [
        {
          "alias": "chooseUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "chooseUsSubTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "chooseUsText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(83, 86, 86); font-family: Poppins, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsan porttitor arcu, ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "chooseUsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/0267c7d3a5664abbb6bf1cf488b284a0",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "chooseUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "43a8ab42-9183-45e6-b86e-dd1301cf42dd",
              "mediaKey": "7869854a-1094-470a-9394-b86873d915cc",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "chooseUsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "232aa05c-f8da-43b1-979c-15c1e0b95158",
              "mediaKey": "db41b507-088c-467b-add2-80029b29edac",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c4713846-6efa-4d1b-89dc-3ea3a26b9d37",
      "key": "5c70d351-6dd3-4f73-a403-5020fbfaec58",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "statisticsList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "aeb41ef5-85a9-486f-95fd-1d7e85bd64d9",
                "key": "ef907579-7f47-435e-b810-593b7a6ef8a3",
                "udi": null,
                "values": [
                  {
                    "alias": "statisticText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  },
                  {
                    "alias": "statisticNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  }
                ]
              },
              {
                "contentTypeKey": "aeb41ef5-85a9-486f-95fd-1d7e85bd64d9",
                "key": "c5e15897-9d1b-4fb8-b6d8-c252bcbede83",
                "udi": null,
                "values": [
                  {
                    "alias": "statisticText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "statisticNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "aeb41ef5-85a9-486f-95fd-1d7e85bd64d9",
                "key": "38b021e9-2f00-4b70-90f8-9efb9e199482",
                "udi": null,
                "values": [
                  {
                    "alias": "statisticText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "statisticNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ef907579-7f47-435e-b810-593b7a6ef8a3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c5e15897-9d1b-4fb8-b6d8-c252bcbede83",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "38b021e9-2f00-4b70-90f8-9efb9e199482",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ef907579-7f47-435e-b810-593b7a6ef8a3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c5e15897-9d1b-4fb8-b6d8-c252bcbede83",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "38b021e9-2f00-4b70-90f8-9efb9e199482",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6ed89cef-50ea-4a87-8482-a3dc1a4dd61f",
              "mediaKey": "70a03b58-aadc-440e-9231-23e45338d1ac",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStoryBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "138d43b0-7cab-4337-8c72-ad23b9ae0831",
              "mediaKey": "e0e37b44-f9d0-46af-a2de-56b6f987de6a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "842d6f76-05a6-4a7c-88a4-10b33d24c677",
      "key": "6af4e664-1980-4a73-b927-dc1e2784c643",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "29f807a2-a176-46bb-a32f-3c55e2d59b5c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b9a997c4-5e1e-43ab-8785-7d945bb2f3ce",
                        "mediaKey": "4ba7ef00-f9b9-46dc-b790-abbe0ff8edd3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "0ec7bd35-837e-4e3b-966f-1090cc3bb5e0",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "28433b07-c9f2-4d5a-a109-13a1d9d6bd6e",
                        "mediaKey": "4726ec68-b0a6-42a5-a00e-3a8e0996f780",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "cb4e505e-e792-40f1-8ed1-7540fe1b7206",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9ae7e033-8937-4a80-b4e4-03f7e3c8754d",
                        "mediaKey": "234e77d3-e9ab-4e5b-8475-420b065b4ef6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "5461a79b-24c3-4206-a3b9-4c4bb2c7a52f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8262c359-3f58-42ba-89b9-6898acc84eee",
                        "mediaKey": "7a74e5cf-708c-439f-a075-da313746ee2c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "d3a81bb2-7a71-4562-90be-9f0116025378",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "968932ea-575e-4f8a-8e9a-5af543d1282b",
                        "mediaKey": "b5d5e9d8-1e12-4203-b266-58d4e1c9cf8c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "d71474c2-7c6d-441d-9068-0e224b8c5c74",
                "key": "d63a037f-595c-494e-9d52-8a0ac46170e0",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "83fabd3d-fd81-4af0-a988-91996419460d",
                        "mediaKey": "b37c8b93-38e0-43b3-9d47-7cfa2ffa53ed",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "29f807a2-a176-46bb-a32f-3c55e2d59b5c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0ec7bd35-837e-4e3b-966f-1090cc3bb5e0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cb4e505e-e792-40f1-8ed1-7540fe1b7206",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5461a79b-24c3-4206-a3b9-4c4bb2c7a52f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d3a81bb2-7a71-4562-90be-9f0116025378",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d63a037f-595c-494e-9d52-8a0ac46170e0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "29f807a2-a176-46bb-a32f-3c55e2d59b5c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0ec7bd35-837e-4e3b-966f-1090cc3bb5e0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cb4e505e-e792-40f1-8ed1-7540fe1b7206",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5461a79b-24c3-4206-a3b9-4c4bb2c7a52f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d3a81bb2-7a71-4562-90be-9f0116025378",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d63a037f-595c-494e-9d52-8a0ac46170e0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8466fd9f-e9d4-477a-8912-ab018e3054d5",
      "key": "2a3f0c11-7d8a-403b-abc0-e86ddef92f42",
      "udi": null,
      "values": [
        {
          "alias": "showServicesLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "servicesBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1a791d20-86d1-4424-bf90-57a08cbd0f92",
      "key": "f749fd78-cc62-4f4c-b497-e17d51f4e0ae",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tax Planing\nFinancial Consulting\nBusiness Restructuring"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "95e4ab1b-e296-4870-a900-d74498748538",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3b9c3ca0-1832-490a-b560-b8a9c47d5edc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a72fffc-bb1f-4252-abec-26dd8eba7281",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c70d351-6dd3-4f73-a403-5020fbfaec58",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6af4e664-1980-4a73-b927-dc1e2784c643",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "95e4ab1b-e296-4870-a900-d74498748538",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3b9c3ca0-1832-490a-b560-b8a9c47d5edc",
        "contentUdi": null,
        "settingsKey": "f749fd78-cc62-4f4c-b497-e17d51f4e0ae",
        "settingsUdi": null
      },
      {
        "contentKey": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
        "contentUdi": null,
        "settingsKey": "2a3f0c11-7d8a-403b-abc0-e86ddef92f42",
        "settingsUdi": null
      },
      {
        "contentKey": "5a72fffc-bb1f-4252-abec-26dd8eba7281",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5c70d351-6dd3-4f73-a403-5020fbfaec58",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6af4e664-1980-4a73-b927-dc1e2784c643",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>