<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-21T22:09:17</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="919486e8-7001-45ad-97a3-f72cc163e8d0">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0a907228-2a16-49af-b432-4ff93e5e4451",
      "key": "95e4ab1b-e296-4870-a900-d74498748538",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cpre\u003E\u003Ccode class=\u0022language-html\u0022\u003ELorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.\u003C/code\u003E\u003C/pre\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": null,
              "url": "#",
              "queryString": "#"
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38a48993-3408-470d-bca1-d07278c35c08",
              "mediaKey": "9e1790a0-7558-41a0-add8-0cf952072217",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2e5e0698-c26f-41e7-9049-044ea58fc088",
      "key": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cpre\u003E\u003Ccode class=\u0022language-html\u0022\u003EWe Provide The Solutions To Grow Your Business Faster\u003C/code\u003E\u003C/pre\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8466fd9f-e9d4-477a-8912-ab018e3054d5",
      "key": "2a3f0c11-7d8a-403b-abc0-e86ddef92f42",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "95e4ab1b-e296-4870-a900-d74498748538",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "95e4ab1b-e296-4870-a900-d74498748538",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "199902f0-72a2-4020-b2fa-4efc0323d1e1",
        "contentUdi": null,
        "settingsKey": "2a3f0c11-7d8a-403b-abc0-e86ddef92f42",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>