<?xml version="1.0" encoding="utf-8"?>
<Content Key="470dfcb5-5622-45ca-a01b-813e4dcba201" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="d2cdc6af-671d-46c9-b01f-088ee7755c86">Service</Parent>
    <Path>/Home/Service/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:01:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4ea5567-737a-49a2-8b01-c3c16ea79d92">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e6db26ac-b714-4414-a951-1e353eae8522",
      "key": "34984d82-f7ce-4400-8e6b-46fba734a303",
      "udi": null,
      "values": [
        {
          "alias": "infoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "57ae0f55-dcba-4010-a67d-2f1a393db07d",
              "mediaKey": "3ecbccf4-9453-4f13-aa9b-bbc4e83c43a7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "34984d82-f7ce-4400-8e6b-46fba734a303",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "34984d82-f7ce-4400-8e6b-46fba734a303",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "122d4908-aedd-4f53-b6c4-aee570fff2e7",
    "mediaKey": "580eb33f-3612-493f-a1af-0d9f811b6f4a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>