<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2cdc6af-671d-46c9-b01f-088ee7755c86" Alias="Service" Level="2">
  <Info>
    <Parent Key="8ff6c450-b4f6-473b-b22c-f8d4e86fd9c9">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-22T09:11:02</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d46caf4-d38b-4428-9c32-c02f3480fc74">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2e5e0698-c26f-41e7-9049-044ea58fc088",
      "key": "a6ce00bd-dee9-428c-9b48-695177d095d3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dc60fb53-a0cb-4af8-a13a-4ee57c5e4c80",
      "key": "1a92747d-ecef-4a55-843a-360c1f175133",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62f99248-86ec-4e80-a6c8-fc8d5a81c783",
              "mediaKey": "3ebe0807-6ea3-4916-8f9f-f13706634e0a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8466fd9f-e9d4-477a-8912-ab018e3054d5",
      "key": "bcb1ffa6-7daf-48a5-915e-5b61c36f200c",
      "udi": null,
      "values": [
        {
          "alias": "servicesBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8acd5cc5-b072-4951-980a-86f7f43a2284",
      "key": "c2125e04-1861-4147-b889-e948db12dd15",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a6ce00bd-dee9-428c-9b48-695177d095d3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a92747d-ecef-4a55-843a-360c1f175133",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a6ce00bd-dee9-428c-9b48-695177d095d3",
        "contentUdi": null,
        "settingsKey": "bcb1ffa6-7daf-48a5-915e-5b61c36f200c",
        "settingsUdi": null
      },
      {
        "contentKey": "1a92747d-ecef-4a55-843a-360c1f175133",
        "contentUdi": null,
        "settingsKey": "c2125e04-1861-4147-b889-e948db12dd15",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>