<?xml version="1.0" encoding="utf-8"?>
<Content Key="60227605-65e1-47f6-94ca-4d6d11c0b291" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-23T09:16:23</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d7e434c5-0496-4115-b0ff-192b9c7024d9",
      "key": "a5dc1d88-080e-448f-93a9-f266c54f8e84",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "d7e434c5-0496-4115-b0ff-192b9c7024d9",
      "key": "fe955ccc-998d-466a-b15b-c8cc7911e619",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "d7e434c5-0496-4115-b0ff-192b9c7024d9",
      "key": "b1008356-7c88-4b5f-bb1e-1e4e3e5be6cf",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a5dc1d88-080e-448f-93a9-f266c54f8e84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fe955ccc-998d-466a-b15b-c8cc7911e619",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b1008356-7c88-4b5f-bb1e-1e4e3e5be6cf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a5dc1d88-080e-448f-93a9-f266c54f8e84",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fe955ccc-998d-466a-b15b-c8cc7911e619",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b1008356-7c88-4b5f-bb1e-1e4e3e5be6cf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "05745bd3-dc17-4fc4-a936-157bc9c290f9",
    "mediaKey": "00a659c6-5f4b-4e50-bd31-a512c19302c6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>