<?xml version="1.0" encoding="utf-8"?>
<Content Key="76de7679-20fa-4674-b0ff-43972cac0490" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="d2cdc6af-671d-46c9-b01f-088ee7755c86">Service</Parent>
    <Path>/Home/Service/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:00:36</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4ea5567-737a-49a2-8b01-c3c16ea79d92">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e6db26ac-b714-4414-a951-1e353eae8522",
      "key": "0e19ce57-9d39-4490-a6d6-e6ba9ab891ea",
      "udi": null,
      "values": [
        {
          "alias": "infoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c0dccbf4-3964-4c2b-b586-946b62141fad",
              "mediaKey": "3ecbccf4-9453-4f13-aa9b-bbc4e83c43a7",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0e19ce57-9d39-4490-a6d6-e6ba9ab891ea",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0e19ce57-9d39-4490-a6d6-e6ba9ab891ea",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "7171e9ed-659d-4854-bb7b-765f1382303a",
    "mediaKey": "b49d8557-d6a8-41a4-96dc-012c7f8a00e4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>